MLFLOW_TRACKING_URI=http://localhost:5000
JFROG_URL=https://mycompany.jfrog.io/artifactory
JFROG_REPO=ml-models-local
JFROG_TOKEN=changeme
VERTEX_PROJECT=my-gcp-project
VERTEX_LOCATION=europe-west1
MODEL_NAME=churn-classifier
EVAL_THRESHOLD=0.8
